
<!--<div *ngIf="lists" class="content-section implementation">
  <p-dataList [style]="{'width':'90%','margin': 'auto', 'padding-top':'1%'}" [value]="lists" [paginator]="true" [rows]="5">
    <p-header>
      Projekty
    </p-header>
    <ng-template let-list pTemplate="item">
      <div class="ui-g ui-fluid car-item">
        <div class="ui-g-12 ui-md-3" style="margin:auto">
          <img *ngIf="list.starred" src="app/home/star-empty.png" width="80" height="80" alt="" />
          <img *ngIf="!list.starred" src="star-empty.png" width="80" height="80" alt="" />
        </div>
        <div class="ui-g-4 ui-md-9 car-details">
          <div class="ui-g">
            <div class="ui-g-2 ">Nazwa: <br /><br /><br /> {{list.name}} </div>

            <div class="ui-g-2 ">Mentoring: </div>
            <div class="ui-g-2 ">{{list.mentoring}}</div>

            <div class="ui-g-2 ">Opis: </div>
            <div class="ui-g-2 ">{{list.description}}</div>

          </div>
        </div>
      </div>
    </ng-template>
  </p-dataList>
</div>-->
<h4>404 not found</h4>


