
<!--<div *ngIf="lists" class="content-section implementation">
  <p-dataList [style]="{'width':'90%','margin': 'auto', 'padding-top':'1%'}" [value]="lists" [paginator]="true" [rows]="5">
    <p-header>
      Projekty
    </p-header>
    <ng-template let-list pTemplate="item">
      <div class="ui-g ui-fluid car-item">
        <div class="ui-g-12 ui-md-3" style="margin:auto">
          <img *ngIf="list.starred" src="app/home/star-empty.png" width="80" height="80" alt="" />
          <img *ngIf="!list.starred" src="star-empty.png" width="80" height="80" alt="" />
        </div>
        <div class="ui-g-4 ui-md-9 car-details">
          <div class="ui-g">
            <div class="ui-g-2 ">Nazwa: <br /><br /><br /> {{list.name}} </div>

            <div class="ui-g-2 ">Mentoring: </div>
            <div class="ui-g-2 ">{{list.mentoring}}</div>

            <div class="ui-g-2 ">Opis: </div>
            <div class="ui-g-2 ">{{list.description}}</div>

          </div>
        </div>
      </div>
    </ng-template>
  </p-dataList>
</div>-->
<p-table [columns]="cols" [value]="lists" [loading]="loading" sortMode="multiple">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style]="col.width">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [ngClass]="rowData.id == idProject ? 'highlite' : null">
      <td *ngFor="let col of columns">
        <p *ngIf="col.field != 'starred'">{{rowData[col.field]}}</p>
        <i *ngIf="col.field == 'starred' && rowData[col.field]" class="fa fa-star" style="text-shadow: 0px 0px 1px gray, 0px 0px 1px gray; color:#ffd76e;"></i>
        <i *ngIf="col.field == 'starred' && !rowData[col.field]" class="fa fa-star-o" style="text-shadow: 0px 0px 1px gray; color:#ffd76e;"></i>
      </td>
    </tr>
  </ng-template>
</p-table>


