<p-table *ngIf="loading" [columns]="cols" [value]="students" selectionMode="single" [(selection)]="selectedStudent" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Dodaj"></button>
    </div>
  </ng-template>

</p-table>

<p-dialog header="Student" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300" [autoAlign]="true">
  <div class="ui-g ui-fluid" *ngIf="loading">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="userName">Login</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown [options]="freeUsers" [(ngModel)]="chosenUser" optionLabel="userName" [disabled]="!newStudent" [style]="{'width':'150px'}"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="nrIndex">Nr indeksu</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="nrIndex" [(ngModel)]="student.nrIndex" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="projectId">Projekt</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown [options]="projects" [(ngModel)]="chosenProject" optionLabel="name" [style]="{'width':'150px'}"></p-dropdown>
      </div>
    </div>  
  </div>
  <p-footer>
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Usuń"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Zapisz"></button>
  </p-footer>
</p-dialog>
